@use './variables.scss' as vars;

div:has(div.route){
  grid-template-rows: 1;
}

.route {
  max-height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
  overflow-y: auto;
  background-color: vars.$neutral-300;
}

.sideBar {
  background-color: vars.$neutral-700;
  color: vars.$neutral-100;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.navbar h5 {
  // color: inherit;
}

.hideButton {
  align-self: end;
}

.hideButton input{
  display: none;
}

.hideButton svg {
  color: vars.$primary-500;
  fill: vars.$primary-500;
  width: 1.5em;
}

.adminHeader, .adminFooter {
  background-color: vars.$neutral-500;;
}

.adminHeader > h4, .adminFooter > h4 {
  color: vars.$neutral-100;
  margin: 0 .5em;
}

.route label {
  color: vars.$neutral-900;
  display: block;
}

.route label::first-letter {
  text-transform: capitalize
}

@media screen and (max-width:850px) {
  .route {
    grid-template-columns: 50px 1fr;
  }

  .sideBar {
    position: absolute;
    width: 50px;
    z-index: 1;
    height: 100dvh;
    transition: all .5s;
  }

  .hideWrapper {
    transform: translateX(-200px);
    width: auto;
    transition: all .2.5s .2s;
  }

  .sideBar:has(input:checked) {
    width: clamp(150px, 35dvw ,250px);
  }

  .sideBar:has(input:checked) .hideWrapper {
    transform: none;
    transition-delay: 0;
    transition-duration: .4s ;
  }

}
