@use './variables.scss' as vars;

#root:has(div.route){
  grid-template-rows: 1;
}

.route {
  max-height: 96dvh;
  display: grid;
  grid-template-columns: auto 1fr;
  overflow-y: auto;
  background-color: vars.$neutral-300;
}

.sideBar {
  background-color: vars.$neutral-700;
  color: vars.$neutral-100;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.navbar h5 {
  // color: inherit;
}

.hideButton {
  align-self: end;
}

.hideButton input{
  display: none;
}

.hideButton svg {
  color: vars.$primary-500;
  fill: vars.$primary-500;
  width: 1.5em;
}

.adminHeader, .adminFooter {
  background-color: vars.$neutral-500;;
}

.adminHeader > h4, .adminFooter > h4 {
  color: vars.$neutral-100;
  margin: 0 .5em;
}

.route label {
  color: vars.$neutral-900;
  display: block;
}

.route label::first-letter {
  text-transform: capitalize
}

@media screen and (max-width:700px) {
  .route {
    grid-template-columns: 50px 1fr;
  }
  
  .sideBar nav, .sideBar span, .sideBar h5  { 
    transform: translateX(-100px);
  }

  .route:has(input:checked){
    grid-template-columns: auto 1fr;
  }

  .sideBar:has(input:checked) nav, 
  .sideBar:has(input:checked) span, 
  .sideBar:has(input:checked) h5  { 
    transform: none;
  }
}
