@use './variables.scss' as vars;


.loginPage {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 2dvh;
}

.loginPage h1 {
  text-align: center;
}

.loginPage form {
  height: fit-content;
}