@use './variables.scss' as vars;

.scanPage {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  video {
    background-color: #011;
    width: 100%;          
    height: 100%;       
  }
}

.framing {
  position: absolute;
  width: clamp(200px, 33dvw, 300px);
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: grid;
  grid-template-columns: 1fr repeat(3, 5fr) 1fr;
  grid-template-rows: 1fr repeat(3, 5fr) 1fr;
  aspect-ratio: 1;
  pointer-events: none; 
}

.filled {
  background-color: vars.$primary-500;
}

.modal {
  width: 300px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;

  > p {
    color: vars.$neutral-900;
    font-weight: 500;
  }
}

.QrPage {
  height: 100%;
  display: flex;
  justify-content: center;
}

.QrPage > img {
  width: clamp(235px, 90%,335px);
  object-fit: contain;
  border-radius: 20px;
}