@use './variables.scss' as vars;

$gap-distance: clamp(2px, 6dvh, 40px);

.adminPage {
  max-width: 100dvw;
  overflow-x: hidden;
  padding: 1dvw;
}

.userTable_container {
  max-width: 100dvw;
  overflow-x: scroll;
  background-color: vars.$neutral-100;
  padding: 1dvw;
}

.userTable_container input {
  border: 1px solid vars.$neutral-500;
  border-radius: .5em;
  width: 100%;
}

.filterForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filterForm > div {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2dvw;
}

.filterForm > button {
  margin: auto;
}

.userTable {
  background-color: vars.$neutral-500;
  grid-template-columns: repeat(5, 1fr); 
  border: 2px solid vars.$neutral-500;
  margin: 2dvw 0;
  font-size: clamp(10px, 2.8dvw, 20px);
}

.userTable tbody, .userTable thead {
  grid-template-rows: 1fr;
}

.userTable, .userTable tbody, .userTable thead {
  gap: 2px;
}

.userTable td, .userTable th { 
  background-color: vars.$neutral-100;
  color: vars.$neutral-700;
  text-transform: capitalize;
}

.userTable label {
  color: vars.$neutral-900;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5em;
}

.userTable tr:nth-child(2n) td { 
  background-color: vars.$neutral-300;
}


th {
  display: flex;
  align-items: space-between;
}

.userTable tbody tr > td:last-child {
  min-width: calc( 6 * vars.$text-size);
}

.userTable_container button {
  margin: 0 .2em;
  padding: .1em calc(vars.$text-size / 3);
  cursor: pointer;
  color: vars.$neutral-100;
}

.userTable > tbody td button{
  box-sizing: border-box;
  padding-top: .25em;
}

.userTable button svg{
  stroke: vars.$neutral-100;
  width: 1em;
}

.userTable tfoot td {
  grid-column: 1/-1;
}

.userTable tfoot button {
  padding: .2em .6em;
}

.footerButton {
  color: vars.$neutral-100;
  padding: 1em;
}

.dialogWraper {
  position: relative;
}

.dialogWraper > button {
  position: absolute;
  top: .5%;
  right: 2%;
  background-color: transparent;
}

.profileForm {
  width: clamp(300px, 90dvw, 700px);;
}

.fieldWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em 2%;
}

.profileForm h2 {
  font-size: 2em
}

td, th {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greenText {
  color: #2e886d !important;
}

.redText {
  color:  vars.$warn-500 !important;
}

.adminPage > button{
  margin-top: 2.5dvh;
  margin-left: 2.5dvw;
}

@media screen and (max-width:560px) {
  .fieldWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em 2%;
  }

}