@use './variables.scss' as vars;

$gap-distance: clamp(2px, 6dvh, 40px);

.adminPage {
  max-width: 100dvw;
  overflow-x: hidden;
  padding: 1dvw;
}

.userTable_container {
  max-width: clamp(200px, 100dvw, 1500px);
  background-color: vars.$neutral-100;
  padding: 1dvw;
}

.filterForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filterForm label, .filterForm input{
  font-size: clamp(1rem, .8vw, 1.2rem);
}

.filterForm > div {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2dvw;
}

.filterForm > button {
  margin: auto;
}

.userTable {
  background-color: vars.$neutral-500;
  grid-template-columns: auto repeat(4, 1fr); 
  border: 2px solid vars.$neutral-500;
  margin: 2dvw 0;
  font-size: clamp(10px, 2.8dvw, 20px);
}

.userTable tbody, .userTable thead {
  grid-template-rows: 1fr;
}

.userTable, .userTable tbody, .userTable thead {
  gap: 2px;
}

.userTable thead tr th div > div {
  display: grid;
  grid-template-columns: 1fr auto ;
}

.userTable td, .userTable th { 
  background-color: vars.$neutral-100;
  color: vars.$neutral-700;
  text-transform: capitalize;
}

.userTable td.email {
  text-transform: none;
}

.userTable label {
  color: vars.$neutral-900;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5em;
}

.userTable tbody tr {
  cursor: pointer;
}

.userTable tr:nth-child(2n) td { 
  background-color: vars.$neutral-300;
}


th {
  display: flex;
  align-items: space-between;
}

.userTable tbody tr > td:last-child {
  min-width: calc( 6 * vars.$text-size);
}

.userTable_container button {
  margin: 0 .2em;
  padding: .1em calc(vars.$text-size / 3);
  cursor: pointer;
  color: vars.$neutral-100;
}

.userTable > tbody td button{
  box-sizing: border-box;
  padding-top: .25em;
}

.userTable button svg{
  stroke: vars.$neutral-100;
  width: 1em;
}

.userTable tfoot td {
  grid-column: 1/-1;
}

.userTable tfoot button {
  padding: .2em .6em;
}

.footerButton {
  color: vars.$neutral-100;
  padding: 1em;
}

div:has(.adminPage) > dialog {
  background-color: transparent;
  border: none;
}

.dialogWraper {
  position: relative;
}

.dialogWraper > button {
  position: absolute;
  top: .5%;
  right: 2%;
  background-color: transparent;
}

.profileForm {
  width: clamp(300px, 70dvw, 700px);;
}

.fieldWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em 2%;
}

.profileForm h2 {
  font-size: 2em
}

td, th {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greenText {
  color: #2e886d !important;
}

.redText {
  color:  vars.$warn-500 !important;
}

.adminPage > button{
  margin-top: 2.5dvh;
  margin-left: 2.5dvw;
}

.pageButton {
  border-radius: 0;
  background-color: vars.$neutral-500;
}

.selectedPage {
  background-color: vars.$primary-500;
}

@media screen and (min-width: 1150px) {
  
  .userTable {
    grid-template-columns: auto repeat(5, 1fr); 
  }
}

@media screen and (min-width: 1400px) {
  
  .userTable {
    grid-template-columns: auto repeat(6, 1fr); 
  }
}

@media screen and (min-width: 1600px) {
  
  .userTable {
    grid-template-columns: auto repeat(7, 1fr); 
  }
}